@import "supportfile.css";

textarea,
.textinput
{
    font-family: inherit;
    border: 1px solid var(--deep-purple);
    color: var(--deep-purple);
    font-size: var(--larger-font);
}

textarea
{
    resize: none;
}