@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import './override.css';

.siteContainer
{
    display: grid;
    font-family: 'Ubuntu', sans-serif;
    grid-template-areas:
    "header nav"
    "main main"
    "footer footer"
    ;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 10fr 1fr;
    height: 100vh;
    width: 100vw;
}

/*site links*/
.navLinks
{
    background-color: purple;
    border-radius: 20px;
    color: white;
    font-size: 24px;
    margin: 1vh 0.5vw;
    padding: 1vh 2vw;
    text-decoration: none;
}

.navLinks:hover
{
    filter: brightness(1.2);
    transform: 0.2s;
}

.navLinks:active
{
    filter: brightness(0.8);
    transform: 0.2s;
}

/*Header And Nav*/
.siteHeader
{
    color: purple;
    grid-area: header;
    margin-left: 2vw;
}

.siteNav
{
    grid-area: nav;
}

.siteNav ul
{
    display: flex;
    list-style-type: none;
}

/*Main*/
.siteMain
{
    grid-area: main;
    margin-left: 1vw;
    margin-right: 1vw;
}

.siteMain h2
{
    color: purple;
}

.siteMain h3
{
    color: purple;
}

.articleSummaryContainer
{
    border: 1px solid black;
    box-shadow: 0.5vw 0.5vh 10px gray;
    margin: 1vh 1vw;
    padding: 1vh 2vw;
}
.articleSummaryContainer:hover
{
    box-shadow: 0.5vw 0.5vh 5px gray;
    transform: 0.2s;
}
.articleSummaryHeader
{
    display: inline;
}
.articleSummaryDate
{
    display: inline;
    margin-left: 1vw;
}
.articleSummaryText
{
    grid-area: text;
}
.articleSummaryLink
{
    grid-area: text;
    text-decoration: none;
}
/*Footer*/
.siteFooter
{
    align-items: baseline;
    color: purple;
    display: flex;
    font-weight: 600;
    font-style: italic;
    grid-area: footer;
    justify-content: center;
}

@media screen and (max-width: 992px){
    .siteContainer
    {
        grid-template-areas:
        "header"
        "nav"
        "main"
        "footer"
        ;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 10fr 1fr;
    }
    .siteNav ul
    {
        display: inline-block;
        list-style-type: none;
        margin: 0;
        width: 100vw;
        margin: 1vh 1vw;
    }
    .siteNav li
    {
        border: 1px solid black;
    }
    .navLinks
    {
        background-color: white;
        border-radius: 20px;
        color: purple;
        font-size: 24px;
        margin: 0vh 0vw;
        padding: 0vh 0vw;
        text-decoration: none;
    }
}