@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import './override.css';

.siteContainer
{
    display: grid;
    font-family: 'Ubuntu', sans-serif;
    grid-template-areas:
    "header nav"
    "main main"
    "footer footer"
    ;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 10fr 1fr;
    height: 100vh;
    width: 100vw;
}

.siteHeader
{
    grid-area: header;
}

.siteNav
{
    grid-area: nav;
}

.siteMain
{
    grid-area: main;
}

.siteFooter
{
    align-items: baseline;
    display: flex;
    font-weight: 600;
    font-style: italic;
    grid-area: footer;
    justify-content: center;
}

@media screen and (max-width: 992px){
    .siteContainer
{
    grid-template-areas:
    "header"
    "nav"
    "main"
    "footer"
    ;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 10fr 1fr;
}
}