@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import './override.css';

a{
    text-decoration: none;
}

.siteContainer
{
    align-items: center;
    display: grid;
    color: purple;
    font-family: 'Ubuntu', sans-serif;
    grid-template-areas:
    "header nav"
    "main main"
    "footer footer"
    ;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 10fr 50px;
    height: 100vh;
    padding: 0vh 2vw;
    width: 98vw;
}

/*Header And Nav*/
.siteHeader
{
    grid-area: header;
    margin-left: 2vw;
}

.siteNav
{
    grid-area: nav;
}

.siteNav ul
{
    display: flex;
    list-style-type: none;
}
.navLinks
{
    margin-left: 1vw;
}
.hamburgerLink
{
    display: none;
    border-radius: 5px;
    justify-content: center;
}
.siteInputSubmit
{
    border: none;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
}
.siteInputSubmit:hover
{
    filter: brightness(1.2);
    transform: 0.2s;
}

.siteInputSubmit:active
{
    filter: brightness(0.8);
    transform: 0.2s;
}

/*Main*/
.siteMain
{
    color: initial;
    grid-area: main;
    height: 100%;
    width: 100%;
}

/*Article Styling*/
.articleContainer span
{
    padding-left: 1vw;
}
.articleContainer h3, .articleContainer h2
{
    color: purple;
    padding-top: 1vh;
    padding-left: 2vw;
}

/*Article Summaries*/
.articleSummaryContainer:hover
{
    box-shadow: 0.25vw 0.25vh 5px gray;
    transform: 0.2s;
}
.articleSummaryHeader
{
    color: inherit;
    display: inline;
}
.articleSummaryDate
{
    color: black;
    display: inline;
    margin-left: 1vw;
}
.articleSummaryText
{
    color: black;
}
.articleSummaryLink
{
    color: inherit;
    display: block;
}
.articleSummaryContainer
{
    color: purple;
    display: block;
    margin: 1vh 0vw;
}
/*Common Classes*/
.roundedBox
{
    border: 1px solid black;
    border-radius: 5px;
    padding: 1vh 2vw;
}
.siteLink
{
    background-color: purple;
    border-radius: 20px;
    color: white;
    font-size: 24px;
    padding: 1vh 2vw;
}
.siteLink:hover{
    filter: brightness(1.2);
    transform: 0.2s;
}
.siteLink:active{
    filter: brightness(0.8);
    transform: 0.2s;
}

/*Contact forms*/
.siteInputBar
{
    font-size: inherit;
    margin-bottom: 1vh;
}
.inputMessageField
{
    font-family: inherit;
    font-size: inherit;
    grid-area: message;
    resize: none;
}
.inputContainer
{
    display: grid;
    grid-template-areas:
    "name email"
    "subject subject"
    "message message"
    ;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 3fr;
    font-size: 24px;
}
.inputNameField
{
    grid-area: name;
}
.inputEmailField
{
    grid-area: email;
}
.inputSubjectField
{
    grid-area: subject;
}

/*Footer*/
.siteFooter
{
    display: flex;
    font-weight: 600;
    font-style: italic;
    grid-area: footer;
    justify-content: center;
}

@media screen and (max-width: 992px){
    .siteContainer
    {
        grid-template-areas:
        "header"
        "nav"
        "main"
        "footer"
        ;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 10fr 1fr;
    }
    .siteNav{
        background-color: purple;
        border-radius: 5px;
        margin-bottom: 1vh;
    }
    .siteNav ul
    {
        background-color: inherit;
        border-radius: inherit;
        display: block;
        padding: 0vh 0vw;
    }
    .navLinks
    {
        border-radius: inherit;
        border-top: 1px solid rgb(53, 0, 53);
        display: block;
        margin: 0vh 0vw;
        padding: 0vh 5vw;
    }
    .inputContainer
    {
        grid-template-areas:
        "name"
        "email"
        "subject"
        "message"
        ;
        font-size: 16px;
        grid-template-rows: 1fr 1fr 1fr 3fr;
        grid-template-columns: 1fr;
    }
    .hamburgerLink
    {
        display: flex;
    }
    .siteInputSubmit{
        display: block;
        margin-top: 1vh;
        width: 100%;
    }
}