@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

:root{
    /*Brighten values*/
    --brighter-value: 1.1;
    --darker-value: 0.9;

    /*Colors*/
    --deep-purple: #4f004f;
    --off-white: #f1f1f1;

    /*Font details*/
    --bold-font: 700;

    /*Font sizes*/
    --regular-font: 16px;
    --larger-font: 24px;

    /*Spacings*/
    --mini-spacing: 3px;
    --small-spacing: 5px;
    --medium-spacing: 10px;

    /*Horrible hover spacing stuff*/
    --hover-widen-valude: 1px;
    --small-hover-widener: calc( var(--small-spacing) + var(--hover-widen-valude) );
}

