.btn
{
    background-color: var(--deep-purple);
    border: 0;
    border-radius: var(--medium-spacing);
    color: var(--off-white);
    font-family: inherit;
    font-size: var(--regular-font);
    font-weight: var(--bold-font);
    padding: var(--mini-spacing) var(--small-spacing);
    text-decoration: none;
    transition: 0.2s;
}

.btn:hover
{
    filter: brightness(var(--brighter-value));
    padding: var(--mini-spacing) var(--small-hover-widener)
}

.btn:active
{
    filter:brightness(var(--darker-value))
}