main{
    color: var(--deep-purple);
    margin-left: var(--medium-spacing);
    min-height: calc(100vh - var(--larger-font) - 75px);
}

h3{
    margin-left: var(--large-spacing);
    font-size: var(--larger-font);
}

h4 {
    margin-top: var(--medium-spacing);
    margin-left: var(--large-spacing);
}

p{
    font-size: var(--regular-font);
}